In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("14-15.csv", parse_dates=True, dayfirst=True, index_col=[1])

In [17]:
df = data[["HomeTeam", "AwayTeam", "FTR"]].copy()
df.to_csv("14-15_stripped.csv")

In [4]:
teams = df.HomeTeam.unique()
games = [[]*38 for team in teams]
team_game_map = dict(zip(teams, games))
print(team_game_map)

{'West Brom': [], 'Crystal Palace': [], 'Chelsea': [], 'Stoke': [], 'Man City': [], 'QPR': [], 'West Ham': [], 'Sunderland': [], 'Man United': [], 'Hull': [], 'Southampton': [], 'Liverpool': [], 'Arsenal': [], 'Tottenham': [], 'Leicester': [], 'Everton': [], 'Burnley': [], 'Swansea': [], 'Newcastle': [], 'Aston Villa': []}

In [5]:
def log_score(team, pts):
    '''Write down the running points of a team after game i'''
    
    team_scores = team_game_map[team]
    if len(team_scores) > 0:
        team_game_map[team].append(pts + team_scores[-1])
    else:
        team_game_map[team].append(pts)

for idx, row in df.iterrows():
    home = row.HomeTeam
    away = row.AwayTeam
    if row.FTR == "D":
        log_score(home, 1)
        log_score(away, 1)
    elif row.FTR == "H":
        log_score(home, 3)
        log_score(away, 0)
    else:
        log_score(away, 3)
        log_score(home, 0)

In [6]:
df['HomeTeamCR'] = pd.Series([None]*df.shape[0], index=df.index)
df['AwayTeamCR'] = pd.Series([None]*df.shape[0], index=df.index)

In [13]:
def relegation_stat(tgm):
    '''Calculate closeness to relegation for the points tgm from team_game_map[someteam]'''
    
    out = [0]
    max_pts = 3*38
    
    for idx, pts in enumerate(tgm):
        theo_pts = max_pts - (idx+1)*3
        r = 1 - ((pts + theo_pts) / max_pts)
        out.append(r)
        
    return out

reg_stats = {team: relegation_stat(team_game_map[team]) for team in teams}

In [14]:
def add_releg_status(df):
    team_idx = dict(zip(teams, [0]*len(teams)))
    for idx, row in df.iterrows():
        import pdb
        #pdb.set_trace()
        home = row.HomeTeam
        away = row.AwayTeam
        home_reg_stat = reg_stats[home][team_idx[home]]
        away_reg_stat = reg_stats[away][team_idx[away]]
        team_idx[home] = team_idx[home] + 1
        team_idx[away] = team_idx[away] + 1
        df.set_value(idx, 'HomeTeamCR', home_reg_stat)
        df.set_value(idx, 'AwayTeamCR', away_reg_stat)

add_releg_status(df)

In [15]:
df[:]

                  HomeTeam        AwayTeam FTR HomeTeamCR AwayTeamCR
Date
2014-08-16         Arsenal  Crystal Palace   H          0          0
2014-08-16       Leicester         Everton   D          0          0
2014-08-16      Man United         Swansea   A          0          0
2014-08-16             QPR            Hull   A          0          0
2014-08-16           Stoke     Aston Villa   A          0          0
2014-08-16       West Brom      Sunderland   D          0          0
2014-08-16        West Ham       Tottenham   A          0          0
2014-08-17       Liverpool     Southampton   H          0          0
2014-08-17       Newcastle        Man City   A          0          0
2014-08-18         Burnley         Chelsea   A          0          0
2014-08-23     Aston Villa       Newcastle   D          0  0.0263158
2014-08-23         Chelsea       Leicester   H          0  0.0263158
2014-08-23  Crystal Palace        West Ham   A          0  0.0263158
2014-08-23         Everton         Arsenal   D          0  0.0263158
2014-08-23     Southampton       West Brom   D          0  0.0263158
2014-08-23         Swansea         Burnley   H          0  0.0263158
2014-08-24            Hull           Stoke   D          0  0.0263158
2014-08-24      Sunderland      Man United   D          0  0.0263158
2014-08-24       Tottenham             QPR   H          0  0.0263158
2014-08-25        Man City       Liverpool   H          0          0
2014-08-30         Burnley      Man United   D  0.0263158  0.0438596
2014-08-30         Everton         Chelsea   A  0.0263158  0.0438596
2014-08-30        Man City           Stoke   A  0.0263158  0.0438596
2014-08-30       Newcastle  Crystal Palace   D  0.0263158  0.0438596
2014-08-30             QPR      Sunderland   H  0.0263158  0.0438596
2014-08-30         Swansea       West Brom   H  0.0263158  0.0438596
2014-08-30        West Ham     Southampton   A  0.0263158  0.0438596
2014-08-31     Aston Villa            Hull   H          0  0.0263158
2014-08-31       Leicester         Arsenal   D          0  0.0263158
2014-08-31       Tottenham       Liverpool   A          0  0.0263158
...                    ...             ...  ..        ...        ...
2015-05-09  Crystal Palace      Man United   A   0.508772   0.412281
2015-05-09         Everton      Sunderland   A   0.508772   0.412281
2015-05-09            Hull         Burnley   A   0.508772   0.412281
2015-05-09       Leicester     Southampton   H   0.508772   0.412281
2015-05-09       Newcastle       West Brom   D   0.508772   0.412281
2015-05-09           Stoke       Tottenham   H   0.508772   0.412281
2015-05-10         Chelsea       Liverpool   D   0.307018   0.684211
2015-05-10        Man City             QPR   H   0.307018   0.684211
2015-05-11         Arsenal         Swansea   A   0.280702    0.45614
2015-05-16         Burnley           Stoke   D   0.535088   0.561404
2015-05-16       Liverpool  Crystal Palace   A   0.535088   0.561404
2015-05-16             QPR       Newcastle   H   0.535088   0.561404
2015-05-16     Southampton     Aston Villa   H   0.535088   0.561404
2015-05-16      Sunderland       Leicester   D   0.535088   0.561404
2015-05-16       Tottenham            Hull   H   0.535088   0.561404
2015-05-16        West Ham         Everton   A   0.535088   0.561404
2015-05-17      Man United         Arsenal   D    0.45614   0.307018
2015-05-17         Swansea        Man City   A    0.45614   0.307018
2015-05-18       West Brom         Chelsea   H   0.587719   0.210526
2015-05-20         Arsenal      Sunderland   D   0.324561   0.622807
2015-05-24         Arsenal       West Brom   H   0.526316   0.429825
2015-05-24     Aston Villa         Burnley   A   0.526316   0.429825
2015-05-24         Chelsea      Sunderland   H   0.526316   0.429825
2015-05-24  Crystal Palace         Swansea   H   0.526316   0.429825
2015-05-24         Everton       Tottenham   A   0.526316   0.429825
2015-05-24            Hull      Man United   D   0.526316   0.429825
2015-05-24       Leicester             QPR   H   0.526316   0.429825
2015-05-24        Man City     Southampton   H   0.526316   0.429825
2015-05-24       Newcastle        West Ham   H   0.526316   0.429825
2015-05-24           Stoke       Liverpool   H   0.526316   0.429825

[380 rows x 5 columns]

In [16]:
df.to_csv("14-15_stripped_relegation.csv")